<!DOCTYPE html>
<html>
<head>
    <title>Listings</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="main-layout">
    <%- include('header') %>

    <main class="content-area">
        <h1 class="page-title">Add Listings</h1>
        <div class="add-listing-box">
   
    <button onclick="location.href='/add'">➕ Add Products</button>
    </div>
<div id="popup" class="popup" style="display:none;"></div>

    </main>
</div>

<script src="/script.js"></script>
</body>
</html>
