<!-- Top Bar -->
<div class="topbar">
    <div class="hamburger" onclick="toggleSidebar()">
        <span></span><span></span><span></span>
    </div>
    
    <div class="logo"><div class="logo-section">
            <img src="/logo.png" class="logo-img" alt="logo" style="height:150px;">
        </div></div>

    <div class="search-bar">
        <input type="text" placeholder="Search listings, reviews, or searches...">
    </div>

    <div class="topbar-right">
      

        <div class="profile-wrapper">
            <div class="profile-dropdown" onclick="toggleProfileDropdown(event)">
                
            </div>
        </div>
    </div>
</div>

<!-- Sidebar -->
<nav class="sidebar" id="sidebar">
    <ul class="sidebar-menu">
        <li onclick="location.href='/home'">📊 Dashboard</li>
        <li onclick="location.href='/addprod'"> Add Products</li>
        <li onclick="location.href='/ordersdet'">Orders</li>
        <li onclick="location.href='/profile'">Profile</li>
        <li onclick="location.href='/logout'">🚪 Logout</li>
    </ul>
</nav>
