<header class="flipkart-header">
    <div class="header-container">

        <!-- LOGO -->
        <div class="logo-section">
            <img src="/logo.png" class="logo-img" alt="logo">
        </div>

        <!-- NAV ACTIONS -->
        <div class="nav-actions">
        <a href="/" class="nav-item">Home</a>
        <a href="<%= loggedIn ? '/uprofile' : '/usersignin' %>" class="nav-item">
            <i class="fa-regular fa-user"></i>

            <span>
                <% if (!loggedIn) { %>
                    Login / Signup
                <% } else { %>
                    <a href="/uprofile" style="text-decoration:none; color:inherit;">Profile</a>
                    /
                    <a href="/logout" style="text-decoration:none; color:inherit;">Logout</a>
                <% } %>
            </span>

            <i class="fa-solid fa-angle-down"></i>
        </a>




            <a href="/orders" class="nav-item">
                <i class="fa-solid fa-box"></i>
                <span>Orders</span>
            </a>

            

            <a href="/cart" class="nav-item">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Cart</span>
            </a>

        </div>
    </div>
</header>