<header class="flipkart-header">
    <div class="header-container">

        <!-- LOGO -->
        <div class="logo-section">
            <img src="/images/" class="logo-img" alt="logo">
        </div>

        <!-- NAV ACTIONS -->
        <div class="nav-actions">

        <a href="<%= loggedIn ? '/profile' : '/usersignin' %>" class="nav-item">
            <i class="fa-regular fa-user"></i>

            <span>
                <% if (!loggedIn) { %>
                    Login / Signup
                <% } else { %>
                    <a href="/profile" style="text-decoration:none; color:inherit;">Profile</a>
                    /
                    <a href="/logout" style="text-decoration:none; color:inherit;">Logout</a>
                <% } %>
            </span>

            <i class="fa-solid fa-angle-down"></i>
        </a>




            <a href="orders.html" class="nav-item">
                <i class="fa-solid fa-box"></i>
                <span>Orders</span>
            </a>

            <a href="#" class="nav-item">
                <i class="fa-regular fa-bell"></i>
                <span>Notifications</span>
            </a>

            <a href="/cart" class="nav-item">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Cart</span>
            </a>

        </div>
    </div>
</header>